body{
font-family: Arial;
margin:0;
background:#111;
color:white;
}

header{
text-align:center;
padding:60px;
background:#ff7a00;
color:white;
}

nav{
text-align:center;
padding:15px;
background:#000;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:60px;
max-width:900px;
margin:auto;
}

h2{
color:#ff7a00;
}

footer{
text-align:center;
padding:30px;
background:#000;
}
